* {
  padding: 0px;
  margin: 0px;
}

.App {
  width: 600px;
  margin: 30px auto;
}

p {
  text-align: center;
}

.home {
  color: green;
  text-align: center;
  font-size: 30pt;
}

.homeTag {
  color: green;
  text-align: center;
  font-weight: bold;
}

.about {
  color: red;
  text-align: center;
  font-size: 30pt;
}

.aboutTag {
  color: red;
  text-align: center;
  font-weight: bold;
}

.params {
  color: blue;
  text-align: center;
  font-size: 30pt;
}

.paramsTag {
  color: blue;
  text-align: center;
  font-weight: bold;
}

.paramsBox {
  height: 40px;
  width: 400px;
  padding: 15px 0px 0px 0px;
  margin: 10px auto;
}
